In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv('../../../data/kaggle/predicFutureSales/sales_train.csv.gz', compression= 'gzip')

In [3]:
data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
submissionData = pd.read_csv('../../../data/kaggle/predicFutureSales/test.csv.gz', compression='gzip')

In [8]:
submissionData.tail()

            ID  shop_id  item_id
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

In [15]:
bla = data.groupby(['date_block_num','shop_id','item_id'])['item_cnt_day'].sum()

In [16]:
bla

date_block_num  shop_id  item_id
0               0        32          6.0
                         33          3.0
                         35          1.0
                         43          1.0
                         51          2.0
                         61          1.0
                         75          1.0
                         88          1.0
                         95          1.0
                         96          1.0
                         98         25.0
                         111         1.0
                         149         3.0
                         151         1.0
                         153         1.0
                         198         1.0
                         210         2.0
                         282         1.0
                         306         1.0
                         351         1.0
                         421         1.0
                         438         1.0
                         482         2.0
                         484         4.0
                         491         1.0
                         498         1.0
                         556         9.0
                         642         6.0
                         651         7.0
                         657         2.0
                                    ...
33              59       19894       1.0
                         19985       1.0
                         20303       1.0
                         20305       1.0
                         20335       1.0
                         20355       1.0
                         20392       1.0
                         20604       2.0
                         20614       1.0
                         20629       1.0
                         20730       1.0
                         20751       1.0
                         20866       4.0
                         20949      19.0
                         21361       1.0
                         21364       1.0
                         21369       2.0
                         21377       1.0
                         21386       1.0
                         21404       1.0
                         21427       1.0
                         21449       2.0
                         21672       1.0
                         21811       1.0
                         21812       1.0
                         22087       6.0
                         22088       2.0
                         22091       1.0
                         22100       1.0
                         22102       1.0
Name: item_cnt_day, Length: 1609124, dtype: float64